<div
  class="tab-pane fade show container-fluid mt-3"
  id="adminSidebarServicesSection"
  role="tabpanel"
>

  <div class="bg-white mt-5 mb-0">
    <%- include('../indexPartials/_recentServices') %>
  </div>

</div>
