<div
  class="tab-pane fade container-fluid mt-3"
  id="adminSidebarJobPostsSection"
>

  <div class="bg-white my-5">
    <h2 class="p-3"><strong>JobPosts</strong></h2>
    <%- include('../jobPost/_jobPostDisplay') %>
  </div>
</div>
