<footer>
    <div class="container-fluid mt-5 row">
        <div class="col-lg-3">
            <div class="container-fluid">
                <h3 class="footer-item-title"><b>About FREELE</b></h3>
                <p>Freele is a vast online platform where all the freelance services are available and work with experts all over the world. Anyone you’ll hire from Freele will have been individually verified by the administration of the site. This makes the hiring process much less stressful. It also lets you focus on hiring someone who wants to get the job done for you.  
                </p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="container-fluid">
                <h3 class="footer-item-title"><b>Categories</b></h3>
                <ul class="footer-item" id="footerItemCategory">
                    <!-- FROM script.js -->
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="container-fluid">
                <h3 class="footer-item-title"><b>Quick Links</b></h3>
                <ul class="footer-item">
                    <li><a href="/allservices">Services</a></li>
                    <li><a href="/alljobpost">Posts</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="container-fluid">
                <h3 class="footer-item-title"><b>Conversation</b></h3>
                <ul class="footer-item">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Complain</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid w-80"><hr></div>

    <div class="container-fluid row mb-1">
        <div class="col-lg-6">
            <div class="container-fluid"><p>Copyright @<%= momentCurrentYear()%> By <a href="/">FREELE</a></p></div>
        </div>
        <div class="col-lg-6 text-lg-end">
            <div class="footer-logo-item container-fluid">
                <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fab fa-github fa-2x"></i></a>
                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
        </div>
    </div>
</footer>


<!-- Start Footer Links -->
<%- include('_footerLinks') %> 
<!-- End Footer Links -->

</body>
</html>