<div class="container-fluid my-5 bg-white">
    <h3 class="py-5 mx-3 text-uppercase text-center text-lg-start text-md-start"><strong>Explore the marketplace</strong></h3>
  <div class="row" id="setCategoryGrid"></div>
</div>
