<div id="client-logo" class="text-center">
  <div class="">
    <ul class="client-logo-ul">
      <li>
        <img src="../public/image/netflix.png">
      </li>
      <li>
        <img src="../public/image/spotify.png">
      </li>
      <li>
        <img src="../public/image/nike.png">
      </li>
      <li>
        <img src="../public/image/google.png">
      </li>
      <li>
        <img src="../public/image/facebook.png">
      </li>
    </ul>
  </div>
</div>