<div id="mainBanner" style="background-image: url('../public/image/1.jpg'); min-height: 80vh;">
  <div id="mainBanner-blackOverlay">
    <div class="container-fluid bannerContent" id="bannerContentDIV">
      <h1 class="bannerTitle mb-3">
        <span
          >Find The Perfect <i style="text-transform: lowercase;">freelance</i> Services & Experts in the Online Marketplace</span
        >
      </h1>
      <form action="/search" method="get">
      <div class="input-group input-group-lg mb-3">
        <input
          type="search"
          class="form-control"
          name="searchItem"
          aria-label="Sizing example input"
          placeholder="Search From Here..."
          required
        />
        <button class="btn btn-clr col-lg-3 col-12" type="search">Search</button>
      </div></form>
    </div>
  </div>
</div>