<!-- Start Header -->
<%- include('./includes/_header') %>
<!-- End Header -->

<!-- Start Main Nav Bar -->
<%- include('./includes/_mainNavBar') %>
<!-- End Main Nav Bar -->

<!-- Start 404  -->
<div id="error404">
    <h1 id="title404">OOPS!</h1>
    <p id="subTitle404">PAGE NOT FOUND</p>
</div>
<!-- END 404  -->

<!-- Start Footer -->
<%- include('./includes/_footer') %>
<!-- End Footer -->
