<!-- Start Header -->
<%- include('./includes/_header') %>
<!-- End Header -->

<!-- Start Main Nav Bar -->
<%- include('./includes/_mainNavBar') %>
<!-- End Main Nav Bar -->

<!-- Start All My Job Post -->
<div id="jobPostDisplay"><%- include('./jobPost/_jobPostDisplay') %></div>
<!-- End All My Job Post -->

<!-- Start Footer -->
<%- include('./includes/_footer') %>
<!-- End Footer -->
