<!-- Start Header -->
<%- include('./includes/_header') %>
<!-- End Header -->

<!-- Start Main Nav Bar -->
<%- include('./includes/_mainNavBar') %>
<!-- End Main Nav Bar -->

<!-- Start All My Services -->
<div id="allOfMyServices" class="bg-white container-fluid">
  <%- include('./manageServices/_displayGridService') %>
</div>
<!-- End All My Services -->

<!-- Start Footer -->
<%- include('./includes/_footer') %>
<!-- End Footer -->
