<div id="myServices" class="bg-white container-fluid">
  <div class="pt-5">
    <div class="row">
      <div class="col-md-6 text-lg-start text-md-start text-center">
        <h3 class="text-uppercase mx-3"><b>My Services</b></h3>
      </div>
      <div class="col-md-6 text-lg-end text-md-end text-center">
        <% if (isLogin && sUser.username === user.username) { %>
        <a
          href="/user/<%=user.username%>/create_service"
          class="btn btn-clr mx-3"
          >Create A New Service</a
        >
        <% } %>
      </div>
    </div>

    <!-- Start Display Grid All Service -->
    <%- include('../manageServices/_displayGridService') %>
    <!-- End Display Grid All Service -->
    
  </div>
</div>